#home-botton-in-homepage, .topcorner {
  position:absolute;
  top:-15px;
  right:0px;

}
/*home botton right corner*/
#home-botton-right-corner {
   font-size: 65px;
   height: 50px;
   width: 130px;
   margin-top: 0px;
   margin-left: 0px;

 }
/*for home botton*/
 .home-btn {
   cursor: pointer;
   border: 1px solid #000000;
   border-radius: 20px 20px 20px 20px;
   background-size: 110%;
   background-position: center;
   background-image: url("https://i.postimg.cc/1t25HQzS/12.png");
 }

/*when the cursor is on.home botton right corner */
 .home-btn:hover {
   background-size: 120%;
 }