/*the form active for the bottons(login and register) in the right corner on the home page*/
#register-and-login-link-right-corner, .topcorner {
  position:absolute;
  top:-15px;
  right:0px;

}
/*login botton in home page on the right corner*/
#right-corner-Login {
   font-size: 65px;
   height: 50px;
   width: 130px;
   margin-top: 0px;
   margin-left: 0px;
   background-image: url("https://i.ibb.co/4gBtN39/LOGIN.png");
 }
/*register botton in home page on the right corner*/
 #right-corner-Register {
   font-size: 65px;
   height: 50px;
   width: 130px;
   margin-top: 0px;
   margin-left: 0px;
background-image: url("https://i.ibb.co/YRRCczM/REGISTER.png");
 }
/*login and register border background-image in the right corner on home page*/
 .Register-btn {
   cursor: pointer;
   border: 1px solid white;
   border-radius: 20px 20px 20px 20px;
   background-size: 110%;
   background-position: center;

 }

/*when the cursor is on. the login and register botton in right corner on home page */
 .Register-btn:hover {
   background-size: 120%;
 }
