#Register, .topcorner {/*the form itself*/
  position:absolute;
  top:-15px;
  right:0px;

}

#BtnLogin {/*first button*/
   font-size: 65px;
   height: 50px;
   width: 130px;
   margin-top: 0px;
   margin-left: 0px;
 }

 #BtnRegister {/*second button*/
   font-size: 65px;
   height: 50px;
   width: 130px;
   margin-top: 0px;
   margin-left: 0px;
 }

 .Register-btn {/*Both Buttons code:border , background-image*/
   cursor: pointer;
   border: 1px solid #000000;
   border-radius: 20px 20px 20px 20px;
   background-size: 110%;
   background-position: center;
   background-image: url("https://i.postimg.cc/1t25HQzS/12.png");
 }

 .Register-btn:hover {/*when the cursor is on the buttons*/
   background-size: 120%;
 }
