#downloads2, .topcorner {/*the form itself*/
 position:absolute;
 top: -10px;
 left: 10px;

 height: 550px;
 width: 300px;

 border-radius: 10px 10px 40px 40px;
 border: 1px solid black;
 background-size: cover;
 background-image: url("https://img.freepik.com/free-photo/3d-render-snowy-christmas-landscape_1048-13425.jpg?size=626&ext=jpg&ga=GA1.2.1591904653.1622073600");
 }

 #btnDownload4 {/*first button*/
   font-size: 65px;
   height: 135px;
   margin-top: 17px;
   margin-left: 5px;
 }

 #btnDownload5 {/*second button*/
   font-size: 65px;
   height: 135px;
   margin-top: 20px;
   margin-left: 5px;
 }

 #text-download5 {/*Mega link text*/
   color: gray;
   margin-left: 100px;
   margin-top: -275px;
   font-size: 20px;
 }

 #text-download6 {/*Torrent link text*/
   color: green;
   margin-left: 120px;
   margin-top: 133px;
   font-size: 20px;
   width: 350px;
   word-break: break-all;
 }

 .download-btn2 {/*Both Buttons code:border , background-image*/
   border: 1px solid #000000;
   border-radius: 40px 40px 40px 40px;
   background-size: 110%;
   background-position: center;
   background-image: url("https://i.postimg.cc/1t25HQzS/12.png");
 }

 .download-btn2:hover {/*when the cursor is on the buttons*/
   background-size: 120%;
 }
